<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cadastro de Produto</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Ex: Cadeira" 
                            type="text" id="productName" formControlName="name" required>
                    </mat-form-field>
                    <span *ngIf="productForm.get('name')?.errors && productForm.get('name')?.touched" class="text-danger">
                        O nome do produto é obrigatório
                    </span>
                </div>
                <div class="form-group col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Descrição</mat-label>
                        <input matInput placeholder="Ex: Cadeira de plástico" 
                            type="text" id="productDescription" formControlName="description" required>
                    </mat-form-field>
                    <span *ngIf="productForm.get('description')?.errors && productForm.get('description')?.touched" class="text-danger">
                        A descrição do produto é obrigatória
                    </span>
                </div>
                <div class="form-group col-md-2">
                    <mat-form-field class="w-100">
                        <mat-label>Quantidade</mat-label>
                        <input matInput placeholder="Ex: 10" 
                            type="number" id="productQuantity" formControlName="quantity" required>
                    </mat-form-field>
                    <span *ngIf="productForm.get('quantity')?.value === null && productForm.get('quantity')?.touched" class="text-danger">
                        A quantidade do produto é obrigatória
                    </span>
                    <span *ngIf="productForm.get('quantity')?.hasError('invalidQuantity') && productForm.get('quantity')?.touched" class="text-danger">
                        A quantidade deve ser maior do que 0
                    </span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let category of categories" [value]="category">
                                {{category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="productForm.get('category')?.errors && productForm.get('category')?.touched" class="text-danger">
                        A categoria do produto é obrigatória
                    </span>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field class="w-100">
                        <mat-label>Data de entrada</mat-label>
                        <input matInput [matDatepicker]="picker" readonly formControlName="entryDate">
                        <mat-hint>dd/MM/yyyy</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf="productForm.get('entryDate')?.errors && productForm.get('entryDate')?.touched" class="text-danger">
                        A data de entrada é obrigatória
                    </span>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field class="w-100">
                        <mat-label>Data de saída</mat-label>
                        <input matInput [matDatepicker]="pickerSaida" readonly formControlName="exitDate" [required]="false">
                        <mat-hint>dd/MM/yyyy</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerSaida"></mat-datepicker-toggle>
                        <mat-datepicker #pickerSaida></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf="productForm.get('exitDate')?.hasError('invalidDateComparison') && productForm.get('exitDate')?.touched" class="text-danger">
                        A data de saída deve ser posterior à data de entrada
                    </span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="submit" [disabled]="!productForm.valid">SALVAR</button>
            <button mat-button routerLink="/stockflow/produtos/listar">VOLTAR</button>
        </mat-card-actions>
    </mat-card>
</form>