<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cadastro de Produto</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="name" placeholder="Ex: Cadeira" 
                            type="text" id="productName" formControlName="productName" required>
                    </mat-form-field>
                    <span *ngIf="productForm.get('productName')?.errors && productForm.get('productName')?.touched" class="text-danger">
                        O nome do produto é obrigatório
                    </span>
                </div>
                <div class="form-group col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="description" placeholder="Ex: Cadeira de plástico" 
                            type="text" id="productDescription" formControlName="productDescription" required>
                    </mat-form-field>
                    <span *ngIf="productForm.get('productDescription')?.errors && productForm.get('productDescription')?.touched" class="text-danger">
                        A descrição do produto é obrigatória
                    </span>
                </div>
                <div class="form-group col-md-2">
                    <mat-form-field class="w-100">
                        <mat-label>Quantidade</mat-label>
                        <input matInput formControlName="quantity" placeholder="Ex: 10" 
                            type="number" id="productQuantity" formControlName="productQuantity" required>
                    </mat-form-field>
                    <span *ngIf="productForm.get('productQuantity')?.value === null && productForm.get('productQuantity')?.touched" class="text-danger">
                        A quantidade do produto é obrigatória
                    </span>
                    <span *ngIf="productForm.get('productQuantity')?.hasError('invalidQuantity') && productForm.get('productQuantity')?.touched" class="text-danger">
                        A quantidade deve ser maior do que 0
                    </span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="productCategory">
                            <mat-option *ngFor="let category of categories" [value]="category">
                                {{category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="productForm.get('productCategory')?.errors && productForm.get('productCategory')?.touched" class="text-danger">
                        A categoria do produto é obrigatória
                    </span>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field class="w-100">
                        <mat-label>Data de entrada</mat-label>
                        <input matInput [matDatepicker]="picker" readonly formControlName="entryDate">
                        <mat-hint>dd/MM/yyyy</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf="productForm.get('entryDate')?.errors && productForm.get('entryDate')?.touched" class="text-danger">
                        A data de entrada é obrigatória
                    </span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>