<div class="container">
    <h3>Desenvolvedores</h3>
    <br>
    <div class="card-sobre">
        <mat-card>
            <mat-card-content class="text-center">
                <img mat-card-avatar src="../../../assets/perfil_victor.jpg" alt="Foto de Víctor Quirino">
                <br>
                <h3><strong>Víctor Quirino</strong></h3>
                <h6><strong>Github: </strong><a href="https://github.com/VictorSMQuirino">VictorSMQuirino</a></h6>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content class="text-center">
                <img mat-card-avatar src="../../../assets/perfil_luan.jpg" alt="Foto de Luan Firme">
                <br>
                <h3><strong>Luan Firme</strong></h3>
                <h6><strong>Github: </strong><a href="https://github.com/luannfirme">luannfirme</a></h6>
            </mat-card-content>
        </mat-card>
    </div>
</div>